@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:40px">

    <h1 class="display-4" style="margin-bottom:40px;">Find which two employees worked together the longest</h1>

    <partial name="~/Views/Shared/_UploadDataFile.cshtml" />

    <partial name="~/Views/Shared/_EmployeesProjectsGrid.cshtml" />    


</div>
